:root {
  --gilroy: "Gilroy", sans-serif;
  --semibold: 600;

  --accent: #841eb6;
  --purple: #44097c;
  --purple-dark: #16111b;
  --purple-light: #ab03c1;
  --border-color: #eaedf3;
  --text-muted: #969696;

  --offset-padding: 35px;
  --offset-outside: 20px;

  --sidebar-width: 240px;
  --radius-default: 10px;
}


::selection {
  background-color: var(--accent);
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: var(--gilroy);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  background-color: #faf8fb;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small, .small {
  font-size: 0.875em;
}

mark, .mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: var(--accent);
  text-decoration: underline;
}

a:hover {
  color: var(--purple);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
  -ms-overflow-style: scrollbar;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
  white-space: normal;
}

@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}

legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

/* overlay masks */
[class*=state-] {
  overflow: hidden;
}

[class*=state-] .overlay {
  display: block;
}
/* overlay masks */

/* common styles */
.lc-side {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  z-index: 2;

  border: 1px solid var(--border-color);
  background-color: #fff;
}

.lc-side-navi {
  padding-top: 22px;
}

.lc-side-navi-title {
  padding-left: 29px;
  font-weight: var(--semibold);

  margin-bottom: 24px;
}

.lc-head {
  border: 1px solid var(--border-color);
  height: 80px;
  padding-left: var(--offset-padding);
  padding-right: var(--offset-padding);
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;

  display: flex;
  justify-content: flex-end;
}

.lc-head-main {
  display: flex;
  align-items: center;
}

.lc-profile-btn {
  display: flex;
  align-items: center;
  padding-right: 17px;
  position: relative;
  font-weight: var(--semibold);

  text-decoration: none;
  color: black;
}

.lc-profile-btn:hover {
  text-decoration: none;
  color: var(--accent);
}

.lc-profile-btn::before {
  position: absolute;
  content: '';
  top: 19px;
  right: 0;
  width: 8px;
  height: 5px;

  background-image: url(../images/profile-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.lc-profile-userpic {
  flex: 0 0 41px;
  max-width: 41px;
  height: 41px;
  margin-right: 13px;
}

.lc-socials {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 50px;
  padding-right: 50px;
  border-right: 1px solid var(--border-color);
}

.lc-socials-link {
  flex: 0 0 31px;
  max-width: 31px;
  height: 31px;

  margin-right: 19px;
}

.lc-socials-link:last-child {
  margin-right: 0;
}

.lc-side-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.lc-side-links {
  display: flex;
  flex-direction: column;
}

.lc-side-link {
  padding-left: 29px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 4px;
  font-weight: var(--semibold);

  text-decoration: none;
  color: black;

  position: relative;
}

.lc-side-link::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: -1px;
  width: 2px;
  background-color: var(--accent);

  opacity: 0;
}

.lc-side-link:hover::before,
.lc-side-link.active::before {
  opacity: 1;
}

.lc-side-link.active,
.lc-side-link:hover {
  color: var(--accent);
}

.link-logout {
  font-weight: normal;
  color: var(--text-muted);
}

.lc-main {
  padding-left: calc(var(--sidebar-width) + var(--offset-padding));
  padding-top: var(--offset-outside);
  padding-right: var(--offset-padding)
}

.lc-row {
  display: flex;
  flex-wrap: wrap;

  margin-left: -10px;
  margin-right: -10px;
}

.lc-block {
  padding-left: 10px;
  padding-right: 10px;
}

.lc-block-left {
  flex: 0 0 41.55%;
  max-width: 41.55%;
}

.lc-block-right {
  flex: 0 0 58.45%;
  max-width: 58.45%;
}

.lc-block-inner {
  height: 100%;
  padding: 15px 39px;
  border: 1px solid var(--border-color);
  background-color: #fff;
  border-radius: var(--radius-default);
}

.lc-block-title {
  font-size: 22px;
  font-weight: var(--semibold);
}

.lc-news-list {
  margin-top: 24px;
}

.lc-news-list-item {
  display: flex;
  flex-wrap: wrap;

  color: black;
  text-decoration: none;

  margin-bottom: 19px;
}

.lc-news-list-item:hover {
  text-decoration: none;
  color: black;
}

.lc-news-list-preview {
  flex: 0 0 80px;
  max-width: 80px;
  height: 80px;

  margin-top: 7px;
}

.lc-news-list-body {
  flex: 0 0 calc(100% - 80px);
  max-width: calc(100% - 80px);

  padding-left: 18px;
}

.lc-news-list-name {
  font-weight: var(--semibold);
  margin-bottom: 3px;
}

.lc-news-list-text {
  line-height: 1.2;
}

.lc-news-list-date {
  font-size: 14px;
  margin-left: 11px;
  font-weight: normal;
  color: var(--text-muted)
}

.lc-block-info {
  text-align: center;
  padding: 49px 0px 29px 0px;
  font-size: 22px;
  color: var(--text-muted);
}

.lc-profile-upload {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

.lc-setup-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 80px;
}

.lc-setup-profile-userpic {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #f3f4f4;

  border-radius: 50%;
  border: 1px solid var(--accent);
  margin-bottom: 13px;

  cursor: pointer;
}

.lc-setup-profile-userpic-upload {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: calc(100% - 24px);
  left: calc(100% - 24px);

  border-radius: 50%;
  border: 2px solid white;
}

.lc-setup-profile-username {
  font-weight: var(--semibold);
  margin-bottom: 19px;
  position: relative;
}

.lc-setup-profile-userdata {
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.lc-block-profile .lc-block-inner {
  padding-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.lc-gradient {
  background-image: -moz-linear-gradient( -120deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);
  background-image: -webkit-linear-gradient( -120deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);
  background-image: -ms-linear-gradient( -120deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);
  background-image: linear-gradient( -120deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);
}

.lc-setup {
  background-image: -moz-linear-gradient( -120deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);
  background-image: -webkit-linear-gradient( -120deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);
  background-image: -ms-linear-gradient( -120deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);
  background-image: linear-gradient( -120deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);

  padding: 45px 30px 50px;

  line-height: 1.2;

  color: #fff;
  text-align: center;

  border-bottom-left-radius: var(--radius-default);
  border-bottom-right-radius: var(--radius-default);
}

.lc-button {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  color: #fff;
  text-decoration: none;

  border: none;

  justify-content: center;
  align-items: center;

  background-color: var(--accent);
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;

  transition: all .15s ease;
}

.lc-button:hover {
  background-color: var(--purple);
  color: #fff;
  text-decoration: none;
}

.lc-setup-text {
  margin-bottom: 26px;
}

.lc-row-stats {
  /* margin-top: 235px; */
  margin-top: 30px;
}

.title-muted {
  font-size: 16px;
  font-weight: normal;
  margin-left: 13px;
  color: var(--text-muted)
}

.lc-stats-list-item {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  margin-bottom: 9px;
}

.lc-stats-list-count {
  flex: 0 0 58px;
  max-width: 58px;
  font-size: 30px;
  color: var(--accent);
}

.lc-stats-list-name {
  
}

.lc-stats-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 29px;
  padding-bottom: 31px;
}

.lc-stats-icon {
  flex: 0 0 123px;
  max-width: 123px;
  padding-top: 5px;
  position: relative;
}

.lc-stats-icon::before {
  position: absolute;
  content: '';
  top: -10%;
  left: -10%;
  right: 20%;
  padding-bottom: 90%;
  border-radius: 50%;
  filter: blur(40px);

  background-color: var(--accent);
  opacity: .3;
}

.lc-stats-icon-src {
  position: relative;
  z-index: 2;
}

.lc-stats-list {
  flex: 0 0 calc(100% - 123px);
  max-width: calc(100% - 123px);
}

.lc-profile-detail .lc-block-inner {
  background-color: var(--purple-dark);
  background-image: url(../images/profile-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #fff;
}

.lc-profile-detail .lc-setup-profile-userpic,
.modal-theme-dark .lc-setup-profile-userpic:not(.modal-upload) {
  border-color: #fff;
  box-shadow: 30px 30px 100px 0 rgba(132, 30, 182, 1);
}

.lc-profile-socials {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 50px;

  width: 100%;
}

.lc-profile-socials-link {
  flex: 0 0 50px;
  max-width: 50px;
  height: 50px;
  background-color: #fff;
  margin-right: 20px;
  background-position: center center;
  background-repeat: no-repeat;

  border-radius: 50%;

  transition: all .15s ease;
}

.lc-profile-socials-link:last-child {
  margin-right: 0;
}

.link-vk {
  background-image: url(../images/socials/detail/vk.svg);
}

.link-ig {
  background-image: url(../images/socials/detail/ig.svg);
}

.link-tg {
  background-image: url(../images/socials/detail/tg.svg);
}

.link-wa {
  background-image: url(../images/socials/detail/wa.svg);
}

.link-vk:hover {
  background-image: url(../images/socials/detail/vk-hover.svg);
}

.link-ig:hover {
  background-image: url(../images/socials/detail/ig-hover.svg);
}

.link-tg:hover {
  background-image: url(../images/socials/detail/tg-hover.svg);
}

.link-wa:hover {
  background-image: url(../images/socials/detail/wa-hover.svg);
}

.lc-profile-links {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 30px;
}

.lc-profile-link {
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;

  margin-bottom: 20px;

  background-color: var(--purple-light);

  transition: all .15s ease;
}

.lc-profile-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: var(--purple);
}

.lc-profile-getlink {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  height: 50px;

  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;

  transition: all .15s ease;
}

.lc-profile-getlink:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}

.lc-profile-detail .lc-setup-profile {
  padding-bottom: 35px;
}

/* modal dialog */
.modal-dialog-custom {
  margin-top: 101px;

  max-width: 600px;
}

.modal-content-custom {
  border: none;
  padding: 41px 40px;
  border-radius: 100px;
  position: relative;

  box-shadow: 0px 0px 125px 0px rgba(132, 30, 182, 0.25);

  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-custom-title {
  text-align: center;
  color: var(--accent);
  font-size: 22px;
  font-weight: var(--semibold);
}

.modal-theme-select {
  display: flex;
  justify-content: center;
  margin-top: 21px;
}

.modal-theme-select-color {
  flex: 0 0 30px;
  max-width: 30px;
  height: 30px;

  margin-right: 20px;

  cursor: pointer;
}

.modal-theme-select-color:last-child {
  margin-right: 0;
}

.theme-select-input {
  appearance: none;
  -webkit-appearance: none;
  
  position: absolute;
  width: 0;
  height: 0;
}

.theme-color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}

.theme-color-light {
  border: 1px solid #c0c0c0;
  background-color: #f5f5f5;
}

.theme-color-dark {
  border: 1px solid #c0c0c0;
  background-color: #000000;
}

.theme-color-purple {
  border: 1px solid #c0c0c0;
  background-color: var(--accent);
}

.modal-theme-title {
  text-align: center;
  font-weight: var(--semibold);
}

.modal-theme {
  margin-top: 27px;
}

.theme-select-input:checked + .theme-color::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(../images/check.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.theme-select-input:checked + .theme-color-dark::before,
.theme-select-input:checked + .theme-color-purple::before {
  background-image: url(../images/check-light.svg);
}

.modal-upload-photo {
  margin-top: 30px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal-upload {
  flex: 0 0 100px;
  max-width: 100px;
  background-image: url(../images/upload-photo.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-upload-photo .lc-setup-profile-userpic {
  margin-bottom: 0;
}

.modal-upload-body {
  flex: 0 0 calc(100% - 100px);
  max-width: calc(100% - 100px);
  line-height: 1.6;
  padding-left: 20px;
}

.modal-upload-title {
  font-weight: var(--semibold);
}

.modal-row {
  margin-top: 33px;
  margin-bottom: -7px;
}

.modal-row-title {
  font-weight: var(--semibold);
  margin-bottom: 16px;
}

.input-default {
  width: 100%;
  height: 50px;
  border: 1px solid var(--border-color);
  padding-left: 19px;
  padding-right: 19px;
  
  background-repeat: no-repeat;
  background-position: 19px center;

  border-radius: 5px;
}

textarea.input-default {
  height: 80px;
  padding: 12px 19px;
  resize: none;
}

.input-default::placeholder {
  color: #cacaca;
}

.input-default:focus {
  outline: none;
}

.modal-close-abs {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 39px;
  right: 59px;

  background-image: url(../images/modal-close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  cursor: pointer;
}

.lable-social .input-default[type="text"] {
  padding-left: 89px;
  position: relative;
}

.lable-social {
  position: relative;
}

.lable-social::before {
  position: absolute;
  content: '';
  top: 9px;
  bottom: 9px;
  left: 68px;
  width: 1px;
  z-index: 2;
  background-color: var(--border-color);
}

.modal-label {
  margin-bottom: 20px;
}

.label-vk .input-default[type="text"] {
  background-image: url(../images/socials/detail/modal/vk.svg);
}

.label-ig .input-default[type="text"] {
  background-image: url(../images/socials/detail/modal/ig.svg);
}

.label-tg .input-default[type="text"] {
  background-image: url(../images/socials/detail/modal/tg.svg);
}

.label-wa .input-default[type="text"] {
  background-image: url(../images/socials/detail/modal/wa.svg);
}

.label-vk .input-default[type="text"]:focus {
  background-image: url(../images/socials/detail/modal/vk-hover.svg);
}

.label-ig .input-default[type="text"]:focus {
  background-image: url(../images/socials/detail/modal/ig-hover.svg);
}

.label-tg .input-default[type="text"]:focus {
  background-image: url(../images/socials/detail/modal/tg-hover.svg);
}

.label-wa .input-default[type="text"]:focus {
  background-image: url(../images/socials/detail/modal/wa-hover.svg);
}

.modal-upload-photo-input {
  width: 0;
  height: 0;
  overflow: hidden;
}

.modal-label-flex {
  display: flex;
  flex-wrap: wrap;

  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 20px;

  position: relative;
}

.modal-label-flex::before {
  position: absolute;
  content: '';
  top: 9px;
  bottom: 9px;
  left: 50%;
  width: 1px;

  background-color: var(--border-color);
}

.input-default-flex {
  flex: 0 0 50%;
  max-width: 50%;
  border: none;
  height: 48px;
  padding: 0px 19px;
}

.input-default-flex::placeholder {
  color: #cacaca;
}

.input-default-flex:focus {
  outline: none;
}

.modal-row-refs {
  margin-top: 40px;
}

.modal-foot {
  width: 100%;
  display: flex;

  margin-top: 47px;
  margin-bottom: 7px;
}

.lc-button-center {
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.modal-backdrop {
  background-color: #fff;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.modal-setup-profile {
  padding-top: 35px;
  padding-bottom: 0;
}

.modal-setup-profile .lc-profile-links {
  padding-left: 0;
  padding-right: 0;
}

.modal-theme-dark {
  background-image: url(../images/profile-bg.png);
  background-color: #16111b;

  color: #fff;
}

.modal-theme-dark .lc-setup-profile-userpic {
  border-color: #fff;
}

.modal-theme-dark .modal-custom-title {
  color: #fff;
}

.modal-controls .lc-button:first-child {
  margin-right: 18px;
}

.lc-button-modal {
  padding-left: 50px;
  padding-right: 50px;
}

.modal-theme-light .lc-profile-socials-link {
  background-color: var(--accent);
}

.modal-theme-light .lc-profile-socials-link:hover {
  background-color: var(--purple);
}

.modal-theme-light .link-vk,
.modal-theme-light .link-vk:hover {
  background-image: url(../images/socials/theme/light/vk.svg);
}

.modal-theme-light .link-ig,
.modal-theme-light .link-ig:hover {
  background-image: url(../images/socials/theme/light/ig.svg);
}

.modal-theme-light .link-tg,
.modal-theme-light .link-tg:hover {
  background-image: url(../images/socials/theme/light/tg.svg);
}

.modal-theme-light .link-wa,
.modal-theme-light .link-wa:hover {
  background-image: url(../images/socials/theme/light/wa.svg);
}

.modal-theme-light {
  background-image: url(../images/profile-bg-light.png);
  background-position: 20px 20px;
}

.modal-theme-purple {
  background-image: -moz-linear-gradient( -35deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);
  background-image: -webkit-linear-gradient( -35deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);
  background-image: -ms-linear-gradient( -35deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);
  background-image: linear-gradient( -35deg, rgb(68,9,124) 0%, rgb(171,3,193) 100%);

  position: relative;

  color: #fff;
}

.modal-theme-purple::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(../images/profile-bg-purple.png);
  background-repeat: no-repeat;
  background-position: 0 70px;

  user-select: none;
  pointer-events: none;
}

.modal-theme-purple .link-vk {
  background-image: url(../images/socials/theme/purple/vk.svg);
}

.modal-theme-purple .link-ig {
  background-image: url(../images/socials/theme/purple/ig.svg);
}

.modal-theme-purple .link-tg {
  background-image: url(../images/socials/theme/purple/tg.svg);
}

.modal-theme-purple .link-wa {
  background-image: url(../images/socials/theme/purple/wa.svg);
}

.modal-theme-purple .link-vk:hover {
  background-image: url(../images/socials/theme/light/vk.svg);
}

.modal-theme-purple .link-ig:hover {
  background-image: url(../images/socials/theme/light/ig.svg);
}

.modal-theme-purple .link-tg:hover {
  background-image: url(../images/socials/theme/light/tg.svg);
}

.modal-theme-purple .link-wa:hover {
  background-image: url(../images/socials/theme/light/wa.svg);
}

.modal-theme-purple .lc-profile-socials-link:hover {
  background-color: var(--purple);
}

.modal-theme-purple .modal-custom-title {
  color: #fff;
}

.modal-theme-dark .lc-button-modal,
.modal-theme-purple .lc-button-modal {
  background-color: #fff;
  color: var(--accent);
}

.modal-theme-dark .lc-button-modal {
  color: black
}

.modal-theme-dark .lc-button-modal:hover,
.modal-theme-purple .lc-button-modal:hover {
  background-color: var(--accent);
  color: #fff;
}

.modal-theme-purple .lc-button-profile-change,
.modal-theme-dark .lc-button-profile-change {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.modal-theme-purple .lc-button-profile-change:hover,
.modal-theme-dark .lc-button-profile-change:hover {
  background-color: #fff;
  color: var(--accent);
}

.lc-button-profile-change {
  border-width: 1px;
  border-style: solid;
  border-color: var(--accent);
  color: var(--accent);
  height: 48px;

  background-color: transparent;
}

.lc-button-profile-change:hover {
  border-color: var(--purple);
}

.lc-heading {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 25px;
}

.lc-content {
  line-height: 1.2;

  margin-top: 22px;
  margin-bottom: 71px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-l {
  padding-right: 10px;
  padding-left: 10px;
}

.lc-l-list {
  padding-top: 2px;
}

.lc-l-item {
  display: flex;
  flex-wrap: wrap;

  overflow: hidden;
  border-radius: var(--radius-default);
}

.lc-l-preview {
  flex: 0 0 200px;
  max-width: 200px;
  padding-bottom: 200px;

  background: rgb(132,30,182);
  background: -moz-linear-gradient(145deg, rgba(132,30,182,1) 0%, rgba(68,9,124,1) 100%);
  background: -webkit-linear-gradient(145deg, rgba(132,30,182,1) 0%, rgba(68,9,124,1) 100%);
  background: linear-gradient(145deg, rgba(132,30,182,1) 0%, rgba(68,9,124,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#841eb6",endColorstr="#44097c",GradientType=1);
}

.lc-l-body {
  flex: 0 0 calc(100% - 200px);
  max-width: calc(100% - 200px);
  padding: 19px 30px;
  background-color: #fff;

  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: var(--border-color);

  border-top-right-radius: var(--radius-default);
  border-bottom-right-radius: var(--radius-default);

  display: flex;
  flex-direction: column;
}

.lc-l-link {
  color: black;
  text-decoration: none;
}

.lc-l-link:hover {
  text-decoration: none;
  color: black
}

.lc-l-title {
  font-size: 22px;
  font-weight: var(--semibold);
  margin-bottom: 13px;
}

.lc-l-desc {
  margin-bottom: 33px;
}

.lc-l-foot {
  display: flex;
  justify-content: flex-end;
}

.lc-l-button {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #bcbcbc;
  color: #fff;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;

  text-decoration: none;
}

.lc-l-button:hover {
  background-color: var(--accent);
  color: #fff;
  text-decoration: none;
}

.lc-l-item:hover .lc-l-button {
  background-color: var(--accent);
  color: #fff;
}

.col-l-item {
  margin-bottom: 20px;
}

.lc-list-added {
  margin-top: 47px;
}

.lc-l-button-accent {
  background-color: var(--accent);
}

.lc-l-button-accent:hover {
  background-color: var(--purple) !important
}

.lc-l-button-icon {
  margin-right: 8px;
}

.lc-l-button-clear {
  background-color: transparent;
  color: var(--accent);
  opacity: 1;
}

.lc-l-item:hover .lc-l-button-clear,
.lc-l-button-clear:hover {
  background-color: transparent !important;
  color: var(--accent)
}

.lc-l-button-clear:hover {
  opacity: 0.8;
}

.modal-landing .modal-dialog-custom {
  max-width: 1200px;
}

.modal-landing-content {
  margin-top: 34px;
  padding-bottom: 37px;
  line-height: 1.2;
}

.modal-landing-title {
  font-size: 22px;
  font-weight: var(--semibold);

  margin-bottom: 25px;
}

.modal-landing-image-top {
  padding-bottom: 35.715%;
  margin-bottom: 31px;
}

.modal-landing-embeds {
  margin-top: 35px;
  margin-bottom: 31px;
}

.modal-landing-embed-item {
  padding-bottom: 72.7%;

  background-color: #f3f4f4;
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-embed-photo {
  background-image: url(../images/modal-landing/modal-landing-photo.svg);
}

.modal-embed-video {
  background-image: url(../images/modal-landing/modal-landing-video.svg);
}

.modal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.modal-list-flex {
  flex: 0 0 46.3%;
  max-width: 46.3%;
}

.modal-list-item {
  padding-left: 38px;
  line-height: 1.1;
  margin-bottom: 10px;

  background-position: 20px 5px;
  background-repeat: no-repeat;
}

.modal-list-col {
  display: flex;
}

.modal-list-circle {
  background-image: url(../images/modal-landing/circle.svg);
}

.modal-list-check {
  background-image: url(../images/modal-landing/check.svg);
}

.modal-list-triangle {
  background-image: url(../images/modal-landing/triangle.svg);
}

.modal-bottom {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 9px;
}

.r-lc-head-item {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(255,255,255, .5);

  z-index: 4;
}

.lc-acc-list {
  margin-top: -22px;
}

.lc-acc-head {
  display: flex;
  height: 60px;

  border-radius: var(--radius-default);
  overflow: hidden;

  background-color: #fff;

  background-image: url(../images/profile-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 30px) center;

  position: relative;
  z-index: 2;
}

.lc-acc-step {
  flex: 0 0 150px;
  max-width: 150px;
  padding-left: 41px;

  font-size: 22px;
  font-weight: var(--semibold);

  display: flex;
  align-items: center;

  color: #fff;
}

.lc-acc-name {
  flex: 0 0 calc(100% - 150px);
  max-width: calc(100% - 150px);

  display: flex;
  align-items: center;
  padding-left: 60px;

  font-weight: var(--semibold);

  background-repeat: no-repeat;
  background-position: 30px center;

  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--border-color);

  border-top-right-radius: var(--radius-default);
  border-bottom-right-radius: var(--radius-default);
}

.lc-acc-name-video {
  background-image: url(../images/step-video.svg);
}

.lc-acc-status {
  color: var(--text-muted);
  font-weight: normal;

  margin-left: 9px;
  padding-left: 21px;

  position: relative;
}

.lc-acc-status::before {
  position: absolute;
  content: '—';
  top: 0;
  bottom: 0;
  left: 0;
}

.lc-acc-item.opened .lc-acc-head {
  box-shadow: 0 15px 15px 0 rgba(0,0,0, .08);
}

.lc-acc-item:not(.active) .lc-acc-step {
  background: rgb(142,142,142);
  background: linear-gradient(145deg, rgba(142,142,142,1) 0%, rgba(67,67,67,1) 100%);
}

.lc-acc-body {
  border: 1px solid var(--border-color);
  background-color: #fff;
  padding-left: 39px;
  padding-right: 29px;
  padding-bottom: 39px;

  margin-top: -6px;

  border-bottom-left-radius: var(--radius-default);
  border-bottom-right-radius: var(--radius-default);
}

.lc-acc-content-row {
  margin-left: -27.5px;
  margin-right: -27.5px;
}

.lc-acc-content {
  padding-top: 43px;
}

.lc-acc-content-col {
  padding-left: 27.5px;
  padding-right: 27.5px;

  flex: 0 0 48.6%;
  max-width: 48.6%;
}

.lc-acc-content-col:not(:first-child) {
  flex: 0 0 51.4%;
  max-width: 51.4%;
}

.lc-acc-content-inner {
  margin-top: -1px;
  line-height: 1.2;
}

.lc-acc-content-embed {
  padding-bottom: 66.7%;
  background-color: #f3f4f4;
  border-radius: 24px;
}

.lc-embed-video {
  background-image: url(../images/step-video.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90px;
}

.lc-acc-form {
  margin-top: 27px;
}

.lc-form-style {
  border-radius: var(--radius-default);
  margin-bottom: 16px;
}

.lc-acc-item {
  margin-bottom: 20px;
}

.lc-acc-name-profile {
  background-image: url(../images/step-profile.svg);
}

.lc-acc-name-check {
  background-image: url(../images/step-check.svg);
}

.lc-acc-name-web {
  background-image: url(../images/step-web.svg);
}

/* stats */
:root {
  --nova: #1477a0;
  --nova-light: #17a2c9;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #a503b3;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a503be;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #e5e2e5;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #e5e2e5;
}
::-webkit-scrollbar-track:active {
  background: #e5e2e5;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.nova-stats .lc-stats-icon::before {
  background-color: #0e546d;
}

.lc-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lc-toggle-check {
  appearance: none;
  width: 0;
  height: 0;
  position: absolute;
}

.lc-toggle {
  flex: 0 0 50%;
  max-width: 50%;

  display: flex;
  justify-content: flex-end;

  position: relative;
  z-index: 2;
}

.lc-toggle-block {
  display: flex;
  align-items: center;

  flex: 0 0 200px;
  max-width: 200px;
}

.lc-toggle-inner {
  flex: 0 0 50px;
  max-width: 50px;
  height: 25px;

  border-radius: 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0;

  position: relative;

  background-color: var(--accent);

  cursor: pointer;
}

.lc-toggle-btn {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #fff;
  width: 23px;
  border-radius: 15px;

  transition: all .2s ease;
}

.lc-toggle-label {
  color: #bcbcbc;
  font-weight: var(--semibold)
}

.lc-toggle-label.active {
  color: var(--accent)
}

.lc-toggle-check:checked + .lc-toggle-btn {
  left: calc(100% - 24px)
}

.lc-toggle-inner.state {
  background-color: var(--nova);
}

.nova-stats .lc-toggle-label.active {
  color: var(--nova)
}

.nova-stats .lc-stats-list-count {
  color: var(--nova) 
}

.nova-stats .lc-stats-list {
  columns: 2;
}

.lc-datepick-icon {
  fill: #841eb6;
  fill-rule: evenodd;
}

.nova-stats .lc-datepick-icon {
  fill: var(--nova);
}

.chart-dates {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;

  margin-top: 40px;
}

.chart-dates-range {
  display: flex;
  border-collapse: collapse;

  margin-right: 20px;
}

.chart-dates-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  border: 1px solid #bcbcbc;
  margin-left: -1px;

  background-color: #fff;

  padding-left: 20px;
  padding-right: 20px;

  text-decoration: none;
  color: var(--text-muted);
  font-weight: 500;
}

.chart-dates-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.chart-dates-item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chart-dates-item.active {
  background-color: var(--accent);
  border-color: var(--accent);
  color: #fff;
}

.nova-stats .chart-dates-item:hover {
  border-color: var(--nova);
  color: var(--nova);
}

.chart-dates-item.active:hover {
  color: #fff;
}

.nova-stats .chart-dates-item.active {
  background-color: var(--nova);
  border-color: var(--nova);
}

.chart-dates-item:hover {
  z-index: 3;
  border-color: var(--accent)
}

.chart-datepick {
  display: flex;
  height: 40px;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid var(--accent);
  background-color: #fff;

  border-radius: 5px;
}

.nova-stats .chart-datepick {
  border-color: var(--nova);
}

.chart-datepick-value {
  padding-left: 15px;
  font-weight: 500;
  color: var(--accent);
}

.nova-stats .chart-datepick-value {
  color: var(--nova)
}

.lc-toggle-chart {
  padding-right: 30px;
  position: relative;
}

.lc-toggle-chart::before {
  position: absolute;
  content: '';
  top: 7px;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url(../images/chart-arrow.svg);
  background-repeat: no-repeat;
}

.text-muted {
  color: var(--text-muted);
}

.chart-section {
  margin-top: 30px;
}

.chart-section canvas {
  margin-top: 30px;
}

.lc-stats-row {
  margin-bottom: 20px;
}

.lc-block-head-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top-left-radius: var(--radius-default);
  border-top-right-radius: var(--radius-default);

  color: #fff;

  padding-left: var(--offset-padding);
  padding-right: var(--offset-padding);
  padding-top: 15px;
  padding-bottom: 15px;

  background: rgb(132,30,182);
  background: linear-gradient(145deg, rgba(132,30,182,1) 0%, rgba(68,9,124,1) 100%);
}

.lc-block-head + .lc-block-inner {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: auto;
}

.nova-block .lc-block-head-inner {
  background: rgb(132,30,182);
  background: linear-gradient(145deg, #0c4156 0%, var(--nova-light) 100%);
}

.lc-block-step {
  display: inline-block;
  padding: 5px 15px;
  margin-right: 15px;
  border: 1px solid #fff;
  color: #fff;

  border-radius: var(--radius-default);
  text-decoration: none;
}

.lc-block-step:last-child {
  margin-right: 0;  
}

.lc-block-step:hover,
.lc-block-step.active {
  background-color: #fff;
  color: var(--purple-dark);
}

.lc-head-search {
  padding: 10px var(--offset-padding);
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: var(--border-color);

  background-image: url(../images/notice-head.svg);
  background-position: calc(100% - 80px) center;
  background-repeat: no-repeat;
}

.lc-input {
  border: 1px solid #bcbcbc;
  height: 40px;
  border-radius: 5px;
}

.lc-search-input {
  background-image: url(../images/search-lc.svg);
  background-repeat: no-repeat;
  background-position: 20px center;

  padding-left: 50px;
}

.lc-profile-nameletter {
  width: 100%;
  height: 100%;

  background-color: var(--accent);
  border-radius: 50%;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: var(--semibold);
}

.lc-profile-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

.lc-profile-item::before {
  top: 50%;
  right: 15px;
}

.lc-step-body {
  display: none;
  position: relative;
  top: -1px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 0px 30px 0px rgba(165, 3, 190, 0.1);
}

.lc-step-body::before {
  position: absolute;
  content: '';
  top: -20px;
  left: 58px;
  width: 68px;
  height: 20px;

  transition: all .3s ease;

  background-image: url(../images/lc-step-triagnle.svg);
  opacity: 0;
}

.lc-step-body.show::before {
  opacity: 1;
}

.nova-block .lc-step-body {
  box-shadow: 0px 0px 30px 0px rgba(20, 119, 160, 0.1);
}

.lc-step-info-link {
  font-weight: 500;
  color: black;
  text-decoration: none;
  margin-right: 20px;
}

.lc-step-info-link:hover {
  text-decoration: none;
  color: black;
}

.lc-user-check {
  fill: #a503be;
  fill-rule: evenodd;
}

.lc-step-steps-count {
  flex: 0 0 90px;
  max-width: 90px;

  background-image: url(../images/user-step-empty.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 20px;

  font-weight: var(--semibold);
}

.step-completed {
  background-image: url(../images/user-step-check.svg);
  color: var(--accent);
}

.nova-block .step-completed {
  background-image: url(../images/step-check-nova.svg);
  color: var(--nova)
}

.lc-step-steps {
  margin-top: 15px;
}

.lc-step-steps-item {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lc-step-steps-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  flex: 0 0 calc(100% - 90px);
  max-width: calc(100% - 90px);
}

.lc-step-steps-status {
  padding: 3px 15px;
  background-color: transparent;
  color: var(--accent);
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.lc-step-steps-status.active {
  background-color: var(--accent);
  color: #fff;
}

.lc-step-steps-status:hover {
  text-decoration: none;
  color: #fff;
}

.nova-block .lc-step-steps-status.active {
  background-color: var(--nova);
}

.lc-step-new {
  background-image: url(../images/notice-new.svg);
  background-position: calc(100% - 40px) center;
  background-repeat: no-repeat;
}

.nova-block .lc-profile-nameletter {
  background-color: var(--nova);
}

.nova-block .lc-profile-btn:hover {
  color: var(--nova)
}

.lc-step-list {
  max-height: 400px;
  overflow-y: auto;

  margin-left: -20px;
  margin-right: -20px;

  padding-left: 20px;
  padding-right: 20px;
}

.nova-block .lc-step-list::-webkit-scrollbar-thumb {
  background: var(--nova) !important;
}

.nova-block .lc-step-list::-webkit-scrollbar-thumb:hover {
  background: var(--nova) !important;
}
.nova-block .lc-step-list::-webkit-scrollbar-thumb:active {
  background: var(--nova) !important;
}

.nova-block .lc-step-steps-status:not(.active) {
  color: var(--nova)
}

#chart1,
#chart2 {
  height: 300px;
}

.lc-banner {
  
}

/* media */
@media (min-width: 1500px) {
  .chart-dates {
    flex-direction: unset !important;
  }
}

@media (max-width: 1500px) {
  .chart-dates {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .lc-block-step {
    margin-right: 5px;
    font-size: 13px;
    padding: 2px 10px;
  }

  .lc-block-header {
    flex-direction: column;
    align-items: center;
  }

  .lc-toggle {
    flex: unset;
    max-width: none;
    width: 200px;
    margin-top: 10px;
  }

  .lc-block-title {
    line-height: 1.2;
  }

  .chart-dates-range {
    margin-bottom: 15px;
    margin-right: 0;
  }

  .chart-dates {
    justify-content: center;
  }

  .lc-step-item .lc-profile-btn::before {
    top: 50%;
  }
}

@media (max-width: 768px) {
  .chart-dates {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .lc-head-search {
    background-position: calc(100% - 60px) center;
  }
}

@media (max-width: 480px) {
  .chart-section {
    display: none;
  }

  .lc-search-input {
    background-position: 14px center;
    padding-left: 40px;
  }

  .lc-input {
    height: 34px;
  }

  .lc-step-list {
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .lc-step-body::before {
    top: -11px;
  }

  .lc-toggle-label {
    font-size: 14px;
  }

  .lc-step-steps {
    font-size: 12px;
  }

  .lc-step-steps-count {
    flex: 0 0 20px;
    max-width: 20px;
    height: 20px;
    font-size: 0;
    display: none;
  }

  .step-completed {
    display: flex;
  }

  .lc-step-body::before {
    left: 25px;
  }

  .lc-step-info-link {
    display: block;
    margin-bottom: 5px;
    margin-right: 0;
    font-size: 14px;
  }

  .lc-step-steps-body {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }

  .lc-step-steps-q {
    padding-right: 15px;
  }

  .lc-block-step {
    display: none;
  }

  .chart-dates-item,
  .chart-datepick-value {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .lc-step-item .lc-profile-name {
    display: block;
    padding-left: 15px;
  }

  .lc-step-item .lc-step-itemэ::before {
    top: 5000px
  }

  .lc-step-item .lc-profile-btn::before {
    top: 50%;
  }

  .lc-step-steps-status {
    font-size: 12px;
  }

  .lc-row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .lc-block {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
  }

  .lc-block-inner,
  .lc-block-head-inner {
    border-radius: 0;
  }

  .chart-datepick,
  .chart-dates-item {
    height: 30px;
  }

  .lc-profile-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .lc-search-input {
    width: 200px;
  }

  .lc-head-search {
    background-position: calc(100% - 62px) center;
  }
}

@media (min-width: 320px) {
  .nova-stats .lc-stats-list {
    columns: unset;
  }

  .chart-dates {
    flex-direction: column;
    align-items: center;
  }
}